# Ignore tous les fichiers de config commançant par .
.*
!.gitignore
!.gitkeep

# Ignore le repertoire node_modules
node_modules

# Ignore tous les fichiers d'environnement
config/*

# Ignore les fichiers de source
sources/*
!sources/.gitkeep

# Ingore les fichiers de coherence
coherences/*
!coherences/.gitkeep

# Ingore les fichiers de consistency
modules/API/controler/consistency/*
!modules/API/controler/consistency/.gitkeep

# Sauf les fichiers d'envrinnement de prod et preprod
!config/config.js.tpl
!config/skeleton.js

# Ignore le repertoire local
local/*
!local/.gitkeep