{% extends 'layout.html' %}

{% block head %}
	<script src="/socket.io/socket.io.js"></script>

	<link rel="stylesheet" href="/css/index.css" type="text/css" />

	<script type="text/javascript" src="/js/bootstrap-3-typeahead.js"></script>
	<script type="text/javascript" src="/js/plugin/form/OneInputForm.js"></script>
	<script type="text/javascript" src="/js/plugin/form/SelectForm.js"></script>
	<script type="text/javascript" src="/js/plugin/form/RadioForm.js"></script>
	<script type="text/javascript" src="/js/plugin/utile/CoherenceUtile.js"></script>
	<script type="text/javascript" src="/js/plugin/coherenceContener.js"></script>
	<script type="text/javascript" src="/js/plugin/coherence.js"></script>
	<script type="text/javascript" src="/js/plugin/coherencePropositions.js"></script>
	<script type="text/javascript" src="/js/plugin/coherenceResolutions.js"></script>
	<script type="text/javascript" src="/js/plugin/modalResolutions.js"></script>
{% endblock %}

{% block siteName %}Geko{% endblock %}

{% block onglet %}coherence{% endblock %}
{% block title %}Geko - Cohérence{% endblock %}

{% block content %}
	<script>
		$(function() {
			var socket = io.connect('{{ server }}');
			
			socket.emit("loadOngletListener","coherence");
			
			$("#contener").coherenceContener({
				"content" : {
			    	"host_without_project" : {
				        "outil" : "default",
				        "target" : "all",
				        "label" : "Host sans Projet",
				        "answer" : "Quel est le projet du host <$label$>?",
				        "answerMultiple" : "Quel est le projet des hosts?",
				        "pluginInput" : "OneInputForm" ,
				        "plugins" : [
							/*"propositions",*/
							"resolutionsMultiple"
						]
			        },
			        "host_without_zabbix_mapping" : {
				        "outil" : "default",
				        "target" : "all",
				        "label" : "Host sans mapping Zabbix",
				        "answer" : "Quel est le mapping Zabbix du host <$label$>?",
				        "pluginInput" : "OneInputForm",
				        "plugins" : [
							"propositions"
						]
			        },
			        "host_without_glpi_mapping" : {
				        "outil" : "default",
				        "target" : "all",
				        "label" : "Host sans mapping GLPI",
				        "answer" : "Quel est le mapping GLPI du host <$label$>?",
				        "pluginInput" : "OneInputForm",
				        "plugins" : [
							"propositions"
						]
			        },
			        "host_without_type" : {
				        "outil" : "default",
				        "target" : "all",
				        "label" : "Host sans mapping Type",
				        "answer" : "Quel est le type du host <$label$>?",
				        "pluginInput" : "RadioForm",
				        "plugins" : [
							"propositions",
							"resolutionsMultiple"
						]
			        }
				},
			    "socket" : socket
		    });
		});
	</script>
	<div id="contener"></div>
{% endblock %}